name: Sync roxiestreams.live to roxiestreams.cc

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Replace roxiestreams.live with roxiestreams.cc
        run: |
          find . -type f -name '*.html' -exec sed -i 's/roxiestreams.live/roxiestreams.cc/g' {} +

      - name: Push changes to roxiestreams.cc
        env:
          TOKEN: ${{ secrets.PAT }}
        run: |
          git remote add target https://x-access-token:${TOKEN}@github.com/roxxie09/roxxiestrms.git
          git push target main --force
